main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: #514c4c;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #000000;
    color: #ededed;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    padding: -100px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;;
  }
  
  header img {
    width: 150px;
    height: auto;
    margin-left: -1500px;
    margin-right: 350px;
  }
  
  .apply-button {
    background-color: #fffafa;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  
  .filters {
    width: 200px;
    border-right: 1px solid #000000;
    padding: 10px;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ffffff;
    font-weight: bold;
    border-right: 1px solid #000000;
    font-size: 20px;
  }
  
  .filters select {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
  }
  
  .car-listings {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .car-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  
  .car-card img {
    max-width: 100%;
    height: 300px;
  }
  
  h2 {
    text-align: center;
    padding: 15px 0;
    margin: 0;
    border-bottom: 5px solid #000000;
    color: #000000;
    font-size: 35px;
    font-weight:bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .car-card p, .filtered-card p {
    color: #000000;
    font-weight:bold;
  }
  
  
  .filtered-card img {
    max-width: 100%;
    height: 300px;
  }
  
  
  .filtered-card .button-container button {
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    border: none;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .car-card,
  .filtered-card {
    width: 25%;
    margin: 10px;
    background-color: rgb(111, 111, 111);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 5px solid #000000;
  }